.main-button {
    margin: 0px;
    padding: 0px;
    padding: 15px;

    border: 5px solid #ffffff;
    background-color: #ffffff;
    border-radius: 14px;

    outline: none;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: rgba(35,41,215,.05);
}

.main-button:active {
    border-color: rgba(35,41,215,.2);
}